{% extends 'posts/base.html' %}

{% block css%}
    <style>
        button{
            margin-top: 20px;
        }

        #delete-btn {
        margin-left: 20px;
        transition: 300ms ease-out;
        border: 1.2px solid rgba(400, 0, 0, .6);
        }

        #delete-btn:hover{
        background: rgba(400, 0, 0, .6);
        }
    </style>
{% endblock css %}

{% block content %}

    <form method="POST" action=".">
        {% csrf_token %}
        <div><h1>Are you sure you want to delete this post ({{post.title}}) </h1></div>
        <button id="delete-btn" class="btn btn-outline-secondary" type="submit">Yes,Delete</button>
        <a href="{% url 'view-post' post.id %}"><button type="button" class="btn btn-outline-secondary"> Cancel</button></a>
    </form>

{% endblock content %}