<div class="footer-container">

    <div class="bottom-footer">
        <div class="contact-us">
            <ul>
                <li class="footer-heading"> Contact Us at </li>
                <li> plot 1320 block 93 lagos ikeja </li>
                <li> 08185446555 </li>
                <li> williamsayo44@gmail.com </li>
            </ul>
        </div>

        <div class="footer-link">
            <ul>
                <li class="footer-heading"> Useful Links </li>
                <li> <a href="{% url 'home' %}"> Home</a> </li>
                <li> <a href="{% url 'about' %}"> About</a> </li>
                <li> <a href="{% url 'about' %}"> Subscribe</a> </li>
            </ul>
        </div>

        <div class="subscribe">
            <div class="subscribe-header">
                <ul>
                    <li class="footer-heading"> Newsletter </li>
                    <li> Stay updated with our latest</li>
                </ul>
            </div>
            <form action=".">
                <input type="text" placeholder="Name">
                <input type="email" name="" id="" placeholder="Email">
                <button type="submit"> Submit </button>
            </form>
        </div>
    </div>

    <div class="copyright">
        &copy; Copyright 2020 Williams - All rights reserved - Williiamsayo.pythonanywhere.com
    </div>

</div>